.title__bio {
    width: 751px;
    height: 122px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    /* Preto/100% */
    color: #464646;
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

@media (max-width: 768px) {
    .title__bio {
        width: 524px;
        height: 52px;

        font-size: 22px;
        line-height: 26px;
    }
}

@media (max-width: 425px) {
    .title__bio {
        width: 328px;
        height: 23px;
    }
}