.experience__info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 368px;
    height: 112px;
}

@media (max-width: 768px) {
    .experience__info-container {
                
        width: 296px;
        height: 91px;
    }
}

@media (max-width: 425px) {
    .experience__info-container {
        width: 296px;
        height: 144px;
    }
}