.experience__text {
    width: 368px;
    height: 19px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
}

@media (max-width: 768px) {
    .experience__text {
        width: 704px;
        height: 5px;
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 425px) {
    .experience__text {
        width: 296px;
        height: 0px;
    }
}