.experience__description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 560px;
    height: 51px;
}

@media (max-width: 425px) {
    .experience__description {
        width: 296px;
        height: 40px;
    }
}
