.experience__botao--demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;

    width: 116px;
    height: 51px;

    /* Azul/100% */

    background: #2A7AE4;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #FFFFFF;

}

@media (max-width: 768px) {
    .experience__botao--demo {
        padding: 12px 16px;
        gap: 10px;
        width: 108px;
        height: 40px;
        font-size: 14px;
    }
}