.hobbies__line{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    
    width: 1136px;
    height: 174px;
}
@media (max-width: 768px) {
    .hobbies__line {
        display: flex;    
        flex-wrap: wrap;
        width: 704px;
        height: 118px;

    }
}

@media (max-width: 425px) {
    .hobbies__line {
        width: 328px;
        height: 118px;
    }
}